.container {
  transition: background-color 0.5s;
  padding: 15px;
  font-family: "VT323", monospace;
}

.score {
  color: var(--red);
}

.level {
  color: var(--green);
}

.lines {
  color: var(--blue);
}
