.container {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 100;
  display: grid;
  place-items: center;
}

.text {
  font-size: 8rem;
  text-shadow: 0px 4px #6d28d9;
  color: #c026d3;
  font-family: "VT323", monospace;
  line-height: 0.75;
}
