* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  user-select: none;
}

html {
  overflow: hidden;
  width: 100%;
}

body {
  height: 100svh;
  /* position: fixed; */
  /* prevent overscroll bounce*/
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  background-image: url("./images/moon.jpg");
  background-size: cover;
  background-color: #041929;
  font-family: "VT323", monospace;
}

.background-mask {
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.3;
  position: absolute;
  z-index: -1;
}

.btn {
  font-family: "VT323", monospace;
  color: #c026d3;
  font-size: 3rem;
  border: none;
  background-color: transparent;
  padding: 2rem;
  cursor: pointer;
}

.btn:disabled {
  display: none;
}

.blink {
  animation: blinker 3s linear infinite;
}

@keyframes blinker {
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
}
