* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  user-select: none;
}

html {
  overflow: hidden;
  width: 100%;

  /* colors */
  --green: #a9f08b;
  --red: #ec3b43;
  --blue: #56d0f4;
  --orange: #f49d3f;
  --purple: #975da9;
}

body {
  height: 100%;
  height: 100vh;
  height: 100dvh;
  /* prevent overscroll bounce*/
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  background-image: url("./images/bg-podium-2.webp");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  background-color: #041929;
  font-family: "VT323", monospace;
  /* prevent select while swiping on mobile */
  user-select: none;
}

@media screen and (min-width: 768px) {
  body {
    background-size: contain;
    background-repeat: repeat;
  }
}

#root {
  height: 100%;
  height: 100vh;
  height: 100dvh;
}

.background-mask {
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.3;
  position: absolute;
  z-index: -1;
}

.btn {
  font-family: "VT323", monospace;
  color: var(--orange);
  font-size: 3rem;
  border: none;
  background-color: transparent;
  padding: 2rem;
  cursor: pointer;
}

.btn:disabled {
  display: none;
}

.blink {
  animation: blinker 3s linear infinite;
}

@keyframes blinker {
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
}

.pop-up-container {
  height: 100%;
  width: 100%;
  top: 0;
  position: absolute;
  overflow: hidden;
}

#pop-up {
  height: 100%;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  position: relative;
}
